/* This container includes our table and our canvas. */
.center-container {
  /* This property sets the width of our container. */
  width: 608px;
  /* This property centers our container. */
  margin: 0 auto;
  /* 50px down from top */
  margin-top: 50px;
}

table {
  /* This property collapses table borders into 1 border. */
  border-collapse: collapse;
  /* Hides outer borders on the table. */
  border-style: hidden;
}

td {
  cursor: pointer;
  border: 4px solid rgba(252, 169, 3, 0.8);
  padding: 0px;
  width: 200px;
  height: 200px;
}

canvas {
  position: absolute;
  /* This property places our canvas over the top of our table. */
  z-index: 10;
  /* This property makes our canvas invisible. */
  pointer-events: none;
}

h1 {
  text-align: center;
  color: blanchedalmond;
}

.gameBorder {
  border: black solid 10px; 
  padding: 20px;
}

.gameContainer {
  /*make the background gradient from black to white*/
  background: linear-gradient(to bottom, black, white);
  /*make the background image a repeating pattern*/
  background-repeat: repeat;
  /*make the background image scroll*/
  background-attachment: fixed;
  /*make the background image stretch to fill the container*/
  background-size: cover;
}
